<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.main.mapper.RunningTaskByShopMapper">

    <select id="selectByTrilateralId"  resultType="com.order.main.entity.RunningTask">
        select * from `${tableName}` where goods_id = #{trilateralId}
    </select>

</mapper>