<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.main.mapper.SysUserMapper">

    <select id="selectUserOne" resultType="com.order.main.entity.SysUser">
        SELECT user_id,balance,freeze FROM `sys_user`
        where user_id = #{userId}
    </select>

    <update id="updateMoney">
        update sys_user set balance = #{balance},freeze = #{freeze} where user_id = #{userId}
    </update>
</mapper>
